.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--toggle);
}
.home__header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}
.home__header a{
    margin-right: 20px;
    text-decoration: inherit;
    color: var(--text-decor-color);
    font-size: 15px;
}
.home__header a:hover {
    text-decoration: underline;
}
.home__headerRight {
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}

.home__headerRight > .MuiSvgIcon-root {
    margin-right: 20px;
    color: var(--text-decor-color);
}
.home__body {
    flex: 1;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
}

.home__body > img {
    object-fit: contain;
    height: 100px;
}

.home__headerLeft button{
    color: var( --text-decor-color);
    background-color: var( --toggle);
    border-radius: 999px;
    border-width: thin;
}

@media only screen and (max-width: 600px) {
    .home__headerLeft a {
        display: none;
    }
}
@media only screen and (max-width: 400px) {
    .home__headerRight a{
        display: none;
    }
}
