.searchPage__header a > img {
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
}
.searchPage {
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--toggle);
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;

}
.searchPage__Headerbody > .search > .search__input {
    margin-top: 0px;
    width: unset;
    margin: unset;
    max-width: unset;
}

.searchPage__option > .MuiSvgIcon-root , .searchPage__option a {
    color: var(--search-options);
}

.searchPage__options {
    display: flex;
    align-items: center;
}
.searchPage__optionsLeft , .searchPage__optionsRight {
    display: flex;
    align-items: center;
}

.searchPage__optionsLeft a, .searchPage__optionsRight a{
    text-decoration: none;
}

.searchPage__optionsRight {
    margin-left: 80px;
}

.searchPage__option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}