.search__input {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
    background-color: var(--toggle);
}

.search__input > input {
    flex: 1;
    padding: 10px 20px;
    font-size: medium;
    border: none;
    background-color: var(--toggle);
    color: var(--text-decor-color);
}
.search__input > input:focus {
    outline-width: 0px;
}

.search__input > .MuiSvgIcon-root {
    color: var(--text-decor-color);
}

.search__buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.search__buttons button{ 
    color : var(--text-decor-color);
}

.search__buttons button {
    margin: 5px;
    padding: 7px 15px;
    background-color: var(--toggle);
    border: 1px solid var(--toggle);
    text-transform: inherit;
    color: #5f6368;
}

.search__buttons button:hover {
    box-shadow: 0 1px 1px var(--text-decor-color);
    background-color: var(--toggle);
    border: 1px solid var(--button-highlight);
    color: var(--text-decor-color);
    background-image: -webkit-linear-gradient(top , var(--button-overlay-top) , var(--button-overlay-bottom) );
}
.search__buttons .btnTxt {
    display: none !important;
}