body {
    background-color: var(--toggle);
}
html{
    background-color: var(--toggle);
}

.searchPage__header a > img {
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
}
.searchPage {
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--toggle);
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;

}
.searchPage__Headerbody > .search > .search__input {
    margin-top: 0px;
    width: unset;
    margin: unset;
    max-width: unset;
}

.searchPage__option > .MuiSvgIcon-root , .searchPage__option a {
    color: var(--search-options);
}

.searchPage__options {
    display: flex;
    align-items: center;
}
.searchPage__optionsLeft , .searchPage__optionsRight {
    display: flex;
    align-items: center;
}

.searchPage__optionsLeft a, .searchPage__optionsRight a{
    text-decoration: none;
}

.searchPage__optionsRight {
    margin-left: 80px;
}

.searchPage__option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.searchPage__option a{
    margin-left: 5px;
}
.searchPage__result {
    margin: 40px 0;
}
.searchPage__resultCount {
    color: var(--search-count);
    font-size: 14px;
}

.searchPage__Body {
    background-color: var(--toggle) ;
    color: var(--text-decor-color) ;
}

.searchPage__results {
    min-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
}

.searchPage__resultTitle{
    text-decoration: none;
}.searchPage__resultTitle:hover {
    text-decoration: underline;
}
.searchPage__resultTitle > h2 { 
    font-weight: 500;
}
.searchPage__resultSnippet {
    margin-top: 10px;
}
.searchPage__resultImage{
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.searchPage button{
    margin-top: 17px;
    margin-left: 20px;
}

.searchPage button{
    color: var( --text-decor-color);
    background-color: var( --toggle);
    border-radius: 999px;
    border-width: thin;
}
#root{
    background-color: black;
    background-color: var(--toggle);
}
@media only screen and (max-width: 1000px) {
    .searchPage__optionsRight {
        display: none;
    } 
}
@media only screen and (max-width: 789px) {
    .searchPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }.searchPage__header a > img  {
        margin-right: 0px;
        margin-top: 20px;
    } 
    .searchPage__Headerbody {
        max-width: 90%;
    }.searchPage__option .MuiSvgIcon-root,.searchPage__optionsRight {
        display: none;
    } 
}
@media only screen and (max-width: 460px) {
    .searchPage__option {
        display: flex;
        align-items: center;
        margin-right: 5px;
    }.searchPage__Headerbody > .search > .search__input {
        max-width: 90%;
    }.search__input > input {
        padding: 10px 0;
    }.searchPage {
        padding: 5px;
    }.searchPage__results {
        min-width: 300px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 100px;
    }
}